<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDi_MukVG5pQKGA_xJi7p_349RH6z0sV6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>457291733731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dennis-hong.MentalHealth</string>
	<key>PROJECT_ID</key>
	<string>soliumentalhealthapp</string>
	<key>STORAGE_BUCKET</key>
	<string>soliumentalhealthapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457291733731:ios:512e9f7663323fea7643d6</string>
</dict>
</plist>